<div class="orders__container">
  <a routerLink="/admin" class="orders__admin">Admin</a>

  <table class="orders__table">
    <thead>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Date</th>
        <th>Products (ID : Qty)</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders(); track order.id) {
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.userId }}</td>
          <td>{{ order.date }}</td>
          <td>
            @for (product of order.products; track product.productId) {
              <div>ID: {{ product.productId }} (x{{ product.quantity }})</div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
