<ul class="app__cards">
  @for (loc of locations; track loc.id) {
    <li
      class="app__card app__card--location"
      [routerLink]="['/location', loc.id]"
    >
      <app-location-card [location]="loc"></app-location-card>
    </li>
  }
</ul>
<div class="app__action">
  <button class="app__prev" (click)="prevPage()" [disabled]="currentPage === 1">
    Prev
  </button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button
    class="app__next"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    Next &rarr;
  </button>
</div>
