.products__container {
  padding: 10px;
  text-align: right;
}
.products__list {
  text-align: left;
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
}

.products__wrapper {
  height: 100%;
  padding: 10px;
}
.products__cart {
  margin-bottom: 40px;
}
