.products__container {
  padding: 10px;
}
.products__list {
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
}

.products__wrapper {
  height: 100%;
  padding: 10px;
}
