<header class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo">E-store</a>
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="header__menu-link"
            >Products</a
          >
        </li>
        <li class="header__menu-item">
          <a routerLink="/about" routerLinkActive="active" class="header__menu-link">About</a>
        </li>
        <li class="header__menu-item">
          <a routerLink="/contacts" routerLinkActive="active" class="header__menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions">
      <a class="header__favorite" routerLink="/favorite" routerLinkActive="active"
        >Favorite
        @if (favoriteStore.favoritesCount() > 0) {
          <sup>{{ favoriteStore.favoritesCount() }}</sup>
        }
      </a>

      <a class="header__cart" routerLink="/cart" routerLinkActive="active"
        >Cart
        @if (cartStore.cartCount()) {
          <span>{{ cartStore.cartCount() }}</span>
        }
      </a>
      @if (authService.isAuth()) {
        <a class="header__admin" routerLink="/admin" routerLinkActive="active">Admin</a>
        <a class="header__logout" (click)="onLogout()">LogOut</a>
      } @else {
        <a class="header__login" routerLink="/login" routerLinkActive="active">LogIn</a>
      }
    </div>
  </div>
</header>
