<div class="app__container">
  <h1 class="app__title">{{ title }}</h1>
  <div class="app__action app__action--category">
    <button
      class="app__btn-character"
      (click)="selectCategory('character')"
      [class.active]="currentCategory === 'character'"
    >
      Personages
    </button>
    <button
      class="app__btn-location"
      (click)="selectCategory('location')"
      [class.active]="currentCategory === 'location'"
    >
      Location
    </button>
  </div>
  @if(currentCategory==='character'){
  <ul class="app__cards">
    @for (character of characters; track $index) {
    <li class="app__card">
      <div class="app__image">
        <img [src]="character.image" [alt]="character.name" />
      </div>
      <div class="app__info">
        <h3 class="app__name">{{ character.name }}</h3>
        <div>
          <span
            class="app__status"
            [class.dead]="character.status === 'Dead'"
            [class.alive]="character.status === 'Alive'"
            >●</span
          >
          <span class="app__species">{{ character.species }}</span>
        </div>
      </div>
    </li>
    }
  </ul>
  } @if(currentCategory==='location'){
  <ul class="app__cards">
    @for (loc of locations; track $index) {
    <li class="app__card app__card--location">
      <div class="app__info">
        <h3 class="app__name">{{ loc.name }}</h3>
        <p>{{ loc.type }}</p>
        <p style="color: #666; font-size: 0.9em">{{ loc.dimension }}</p>
      </div>
    </li>
    }
  </ul>
  }
  <div class="app__action">
    <button
      class="app__prev"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <button
      class="app__next"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next &rarr;
    </button>
  </div>
</div>

<router-outlet />
