<div class="app__container">
  <h1 class="app__title">{{ title }}</h1>
  <ul class="app__cards">
    @for (character of characters; track $index) {
    <li class="app__card">
      <div class="app__image">
        <img [src]="character.image" [alt]="character.name" />
      </div>
      <div class="app__info">
        <h3 class="app__name">{{ character.name }}</h3>
        <div>
          <span
            class="app__status"
            [class.dead]="character.status === 'Dead'"
            [class.alive]="character.status === 'Alive'"
            >●</span
          >
          <span class="app__species">{{ character.species }}</span>
        </div>
      </div>
    </li>
    }
  </ul>
  <div class="app__action">
    <button class="app__prev" (click)="prevPage()">Prev</button>
    <button class="app__next" (click)="nextPage()">Next</button>
  </div>
</div>

<router-outlet />
