<div class="app__container">
  <h1 class="app__title">{{ title }}</h1>
  <div class="app__action app__action--category">
    <button
      class="app__btn-character"
      (click)="selectCategory('character')"
      [class.active]="currentCategory === 'character'"
    >
      Personages
    </button>
    <button
      class="app__btn-location"
      (click)="selectCategory('location')"
      [class.active]="currentCategory === 'location'"
    >
      Location
    </button>
    <button
      class="app__btn-episode"
      (click)="selectCategory('episode')"
      [class.active]="currentCategory === 'episode'"
    >
      Episode
    </button>
  </div>
  @if (currentCategory === "character") {
    <ul class="app__cards">
      @for (item of characters; track $index) {
        <li class="app__card">
          <app-character-card [character]="item"></app-character-card>
        </li>
      }
    </ul>
  }
  @if (currentCategory === "location") {
    <ul class="app__cards">
      @for (loc of locations; track $index) {
        <li class="app__card app__card--location">
          <div class="app__info">
            <h3 class="app__name">{{ loc.name }}</h3>
            <p>{{ loc.type }}</p>
            <p>{{ loc.dimension }}</p>
          </div>
        </li>
      }
    </ul>
  }
  @if (currentCategory === "episode") {
    <ul class="app__cards">
      @for (episode of episodes; track $index) {
        <li class="app__card app__card-episode">
          <div class="app__info">
            <h3 class="app__name">{{ episode.name }}</h3>
            <p>{{ episode.air_date }}</p>
            <p>{{ episode.episode }}</p>
          </div>
        </li>
      }
    </ul>
  }
  <div class="app__action">
    <button
      class="app__prev"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <button
      class="app__next"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next &rarr;
    </button>
  </div>
</div>

<router-outlet />
