* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.app {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
  }

  &__title {
    text-align: center;
    color: #202329;
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 900;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    animation: fadeIn 0.8s ease-out;
  }

  &__card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &--location {
      border-left: 6px solid #ff9800;
      padding: 20px;
      justify-content: center;
      min-height: 150px;
      .app__name {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #333;
      }
      p {
        color: #666;
        margin: 5px 0;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__image {
    width: 100%;
    height: 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 15px;
    div {
      margin: 0;
      color: #666;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__name {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  &__status {
    font-size: 12px;
    color: #9e9e9e;
    &.dead {
      color: #d63d2e;
    }
    &.alive {
      color: #55cc44;
    }
  }
  &__action {
    &--category {
      margin-bottom: 30px;
      & .active {
        background-color: #202329;
        color: #fff;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button {
      border: none;
      background-color: #add8e6;
      padding: 7px 15px;
      transition: background-color 0.3s ease 0s;
      border-radius: 7px;
      text-transform: uppercase;
      font-size: 14px;
      &:not(:disabled) {
        cursor: pointer;
      }
      @media (any-hover: hover) {
        &:hover {
          &:not(:disabled) {
            background-color: #7eafc0;
          }
        }
      }
    }
  }
}
