<div class="card__container">
  @if(movie) {
  <p class="card__title">{{ movie.title }}</p>
  <p class="card__year">{{ movie.year }}</p>
  <p class="card__img"><img [src]="movie.image" alt="movie poster" /></p>
  @if(movie.isFavorite){
  <p>Фільм у списку улюблених</p>
  }
  <button class="card__btn" [routerLink]="['/movies']">Back</button>
  <button (click)="toggleFav(movie.id)">
    {{ movie.isFavorite ? "Remove from favorite" : "Add to favorite" }}
  </button>
  } @else {
  <p>Фільм не знайдено</p>
  <button class="card__btn" [routerLink]="['/movies']">Back</button>
  }
</div>
