<form class="my-form">
  <div class="my-form__line">
    <label class="my-form__label" for="name">Name</label>
    <input class="my-form__inp" name="name" id="name" [(ngModel)]="user.name" required />
  </div>
  <div class="my-form__line">
    <label class="my-form__label" for="age">Age</label>
    <input class="my-form__inp" appIsInteger name="age" id="age" [(ngModel)]="user.age" required />
  </div>
  <h2 class="my-form__title">Phone info</h2>
  <div class="my-form__block" ngModelGroup="phones">
    @for (phone of phones; track $index) {
      <div [ngModelGroup]="$index.toString()">
        <div class="my-form__line">
          <label class="my-form__label" for="type">Type</label>
          <select name="type" id="type" [(ngModel)]="phone.type">
            <option value="home">Home</option>
            <option value="work">Work</option>
          </select>
        </div>
        <div class="my-form__line">
          <label class="my-form__label" for="number">Number</label>
          <input class="my-form__inp" name="number" id="number" [(ngModel)]="phone.number" />
        </div>
      </div>
    }
  </div>
  <button (click)="addPhone()">Add</button>
</form>
