.app {
  &__info {
    position: relative;
    padding: 15px;
    div {
      margin: 0;
      color: #666;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(255, 255, 255, 0.7); // Напівпрозорий білий
      border: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      font-size: 1.2rem;
      color: #ccc; // Сіре серце за замовчуванням
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      z-index: 10;
      &:hover {
        transform: scale(1.1);
        background: white;
      }

      // Коли активно — червоне ❤️
      &.active {
        color: red;
        background: white;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
      }
    }
  }

  &__name {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
  }
  &__type {
    font-weight: 600;
    color: #666;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__dimen {
    font-weight: 600;
    font-size: 14px;
    color: #969696;
  }
}
