.app {
  &__image {
    width: 100%;
    height: 240px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 15px;
    div {
      margin: 0;
      color: #666;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__name {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  &__status {
    font-size: 12px;
    color: #9e9e9e;
    &.dead {
      color: #d63d2e;
    }
    &.alive {
      color: #55cc44;
    }
  }

  &__species {
  }
}
.character-img-wrapper {
  position: relative; // Щоб позиціонувати кнопку всередині
  // ... твій старий код ...
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7); // Напівпрозорий білий
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  color: #ccc; // Сіре серце за замовчуванням
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  z-index: 10; // Щоб було точно поверх картинки

  &:hover {
    transform: scale(1.1);
    background: white;
  }

  // Коли активно — червоне ❤️
  &.active {
    color: red;
    background: white;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  }
}
