<mat-card class="counter-card">
  <p>{{ counterValue() }}</p>

  <div class="group">
    <button mat-raised-button color="primary" (click)="plusOne()">+</button>
    <button mat-raised-button color="accent" (click)="minusOne()">-</button>
  </div>

  <div class="group">
    <button mat-stroked-button color="primary" (click)="resToStart()">
      Reset to start
    </button>
    <button mat-stroked-button color="primary" (click)="resToZero()">
      Reset to 0
    </button>
    <button mat-stroked-button color="primary" (click)="resToCust()">
      Reset to 50
    </button>
  </div>

  <div class="group">
    <button mat-flat-button color="warn" (click)="removeCounter()">
      Remove
    </button>
  </div>
</mat-card>
