.task-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.task-name {
  flex-grow: 1;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
  transition: color 0.3s;
}
.red-text {
  color: #dc3545;
  text-decoration: line-through;
  opacity: 0.7;
}
