:host {
  display: flex;
  align-items: center;
  width: 100%; /* щоб він розтягнувся на всю ширину батьківського <li> */
}
.task-info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}
.task-name {
  font-size: 16px;
  color: #212529;
  font-weight: 500;
  transition: color 0.3s;
}
.red-text {
  color: #dc3545;
  text-decoration: line-through;
  opacity: 0.7;
}
.btn-delete {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-delete:hover {
  background-color: #c56b74;
}
