<div class="cards__container">
  <div class="card__input">
    <input
      type="text"
      placeholder="search..."
      [(ngModel)]="searchTerm"
      (input)="filterMovies()"
    />
  </div>
  <a [routerLink]="['/favorites']" class="card-link__favorite">Favorites</a>
  <ul class="cards__list">
    @for(movie of filteredMovies; track movie.id) {

    <li class="cards__item">
      <p><img [src]="movie.image" alt="{{ movie.title }}" /></p>
      <p>{{ movie.title }}</p>
      <p>{{ movie.year }}</p>
      <button [routerLink]="['/movies', movie.id]" class="card__btn">
        Details
      </button>
      <button
        (click)="toggleFavorite(movie.id)"
        [class.favorite]="movie.isFavorite"
      >
        Favorite
      </button>
    </li>
    } @empty {
    <li class="empty-message">No movie found</li>
    }
  </ul>
</div>
