<article class="product-details">
  <div class="product-details__container">
    @if (product) {
      <div class="product-details__images">
        <img [src]="currentMainImgUrl" alt="{{ product.title }}" />
        <div class="product-details__thumbnails">
          @for (image of galleryImages; track image) {
            <img
              [src]="image"
              (click)="setMainImage(image)"
              alt="{{ product.title }}"
            />
          }
        </div>
      </div>
      <div class="product-details__body">
        <h2 class="product-details__title">{{ product.title }}</h2>
        <p class="product-details__descr">{{ product.details.description }}</p>
        <p class="product-details__length">
          Довжина - {{ product.details.length }}
        </p>
        <p class="product-details__weight">
          Вага - {{ product.details.weight }}
        </p>
        <p class="product-details__color">
          Колір - {{ product.details.color }}
        </p>
        <div class="product-details__actions">
          <button class="product-details__btn" (click)="onAddToCart()">
            Add to cart
          </button>
          <button
            (click)="addToFav(product)"
            class="product-details__favorite"
            [class.favor]="isFavorites$ | async"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
              />
            </svg>
          </button>
        </div>
      </div>
    }
  </div>
</article>
