.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
  align-self: center;
}
.search-container {
  text-align: center;
  margin-bottom: 2.5rem;

  input {
    background: #3a3737;
    border: 1px solid #333;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    width: 100%;
    max-width: 400px;
    font-size: 1.1rem;
    outline: none;

    &:focus {
      border-color: #bb86fc; // Буде світитися фіолетовим
    }
    &::placeholder {
      color: #c0bcbc;
    }
  }
}
.message-error {
  background: rgba(244, 67, 54, 0.1); // Світло-червоний фон
  border: 1px solid #f44336;
  color: #f44336; // Червоний текст
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}

.message-loading {
  text-align: center;
  color: #bb86fc; // Фіолетовий (акцентний)
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: bold;

  // Маленька анімація пульсації (бонус)
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.load-more-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  .btn-load-more {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: #bb86fc; /* Фіолетовий при наведенні */
      color: black;
      transform: scale(1.05); /* Трохи збільшується */
    }

    &:active {
      transform: scale(0.95); /* Натискається */
    }
  }
}
