.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
  align-self: center;
}
.search-container {
  text-align: center;
  margin-bottom: 2rem;

  input {
    background: #1e1e1e;
    border: 1px solid #333;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    width: 100%;
    max-width: 400px;
    font-size: 1.1rem;
    outline: none;

    &:focus {
      border-color: #bb86fc; // Буде світитися фіолетовим
    }
  }
}
