<div class="card__container">
  <form
    [formGroup]="cardForm"
    action=""
    class="card__form"
    (ngSubmit)="onTranslate()"
  >
    <div class="card__line">
      <label for="word">Word:</label>
      <input type="text" id="word" formControlName="word" />
      <!-- <p>стан {{ cardForm.get("word")?.value }}</p> -->
    </div>
    <div class="card__line">
      <label for="translate">Translation:</label>
      <input type="text" id="translate" formControlName="translate" />
    </div>
    <button class="card__button" type="submit">Translate</button>
  </form>
</div>
