.filters button.active {
  background-color: #4caf50;
  color: white;
}
.form-todo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
