<div>Completed: {{ completedCount() }}</div>
<div>Active: {{ notCompletedCount() }}</div>

<input
  type="text"
  [(ngModel)]="newTitle"
  placeholder="New toDo"
  (keyup.enter)="addToDo(newTitle)"
/>
<button (click)="addToDo(newTitle)">Add Test</button>

<div *ngFor="let item of filteredTodos2()">
  {{ item.id }} - <span *ngIf="editingId !== item.id">{{ item.title }}</span
  ><input
    type="text"
    *ngIf="editingId === item.id"
    [(ngModel)]="editingTitle"
  />
  <button *ngIf="editingId === item.id" (click)="saveEdit(item.id)">
    Save
  </button>
  -
  {{ item.completed ? "done" : "active" }}
  <button (click)="toggle(item.id)">Toggle</button>
  <button (click)="remove(item.id)">Remove</button>
  <button (click)="startEdit(item.id, item.title)">Edit</button>
</div>

<div class="filters">
  <button
    (click)="applyFilter('all')"
    [class.active]="selectedFilter === 'all'"
  >
    All
  </button>
  <button
    (click)="applyFilter('active')"
    [class.active]="selectedFilter === 'active'"
  >
    Active
  </button>
  <button
    (click)="applyFilter('completed')"
    [class.active]="selectedFilter === 'completed'"
  >
    Completed
  </button>
</div>
