<div class="products__container">
  @if (store.isLoading() && store.products().length === 0) {
    <div class="products__loading">Products are loading...</div>
  } @else if (store.error()) {
    <div class="products__error">{{ store.error() }}</div>
  } @else {
    <div class="products__grid">
      @for (product of store.products(); track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  }
  <button
    class="products__btn-more"
    (click)="store.loadMore()"
    [disabled]="store.products().length === 20"
  >
    Load more
  </button>
</div>
