:host {
  display: block;
  padding: 20px;
}
.cart__items {
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto 30px auto;
}
.cart__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
}
app-product-card {
  width: 100%;
}
mat-card-actions {
  display: flex;

  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
  padding: 0;
}
.cart__controls {
  display: flex;
  align-items: center;
  gap: 8px;
  span {
    font-weight: bold;
    font-size: 16px;
    min-width: 24px;
    text-align: center;
  }
}

.cart__total {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cart__line {
  text-align: center;
}
.row-total {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  margin: 0 10px;
}
