:host {
  display: block;
  align-items: center;
  padding: 10px;
}
.cart__items {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  gap: 25px;
  justify-content: center;
  margin-bottom: 25px;
}
.cart__item {
}
mat-card-actions {
  flex-wrap: wrap;
  gap: 10px;
}
.cart__controls {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart__total {
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
