<ul class="app__cards">
  @for (item of characters; track item.id) {
    <li class="app__card" [routerLink]="['/character', item.id]">
      <app-character-card [character]="item"></app-character-card>
    </li>
  }
</ul>

<!-- 
@if (currentCategory === "episode") {
  <ul class="app__cards">
    @for (item of episodes; track $index) {
      <li class="app__card app__card-episode">
        <app-episode-card [episode]="item"></app-episode-card>
      </li>
    }
  </ul>
}  -->
<div class="app__action">
  <button class="app__prev" (click)="prevPage()" [disabled]="currentPage === 1">
    Prev
  </button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button
    class="app__next"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    Next &rarr;
  </button>
</div>
