.container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;

  h1 {
    margin: 0;
  }
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: #dda0dd;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #e9b8e9;
    color: #fff;
  }
}

.empty-state {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
  color: #666;

  a {
    color: #ff9800;
  }
}

// Сітка (копія з головної)
.app__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
  list-style: none;
  padding: 0;
}

.app__card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}
