<div class="loading" *ngIf="isLoading()">Loading...</div>
<div class="not-found" *ngIf="notFound()">
  <p>Product not found</p>
  <button class="not-found__btn" [routerLink]="['/products']">
    Back to products
  </button>
</div>

<div class="card__item" *ngIf="product()">
  <div class="card__image">
    <img [src]="product()?.image" alt="{{ product()?.name }}" />
  </div>
  <h3 class="card__title">{{ product()?.name }}</h3>
  <p class="card__price">{{ product()?.price }}</p>
  <p class="card__descr">{{ product()?.description }}</p>

  <button (click)="addToCart()" class="card__add-to-cart">Add</button>
  <div class="toast" *ngIf="showNotification()">✅ Product added to cart!</div>
  <a [routerLink]="['/products']" class="card__back">Back</a>
</div>
