<div class="loading" *ngIf="isLoading()">Loading...</div>
<div class="not-found" *ngIf="notFound()">
  <p>Product not found</p>
  <button class="not-found__btn" [routerLink]="['/products']">
    Back to products
  </button>
</div>

<mat-card class="card__item" *ngIf="!isLoading() && product()">
  <div class="card__image">
    <img mat-card-image [src]="product()?.image" alt="{{ product()?.name }}" />
  </div>
  <mat-card-content>
    <mat-card-title class="card__title">{{ product()?.name }}</mat-card-title>
    <mat-card-subtitle class="card__descr">{{
      product()?.description
    }}</mat-card-subtitle>
    <p class="card__price">{{ product()?.price }} грн.</p>

    <mat-card-actions>
      <button mat-raised-button (click)="addToCart()" class="card__add-to-cart">
        Add to cart
      </button>
      <div class="card__quantity-control">
        <button mat-stroked-button (click)="decrement()">-</button>
        <span class="card__quantity-val">{{ quantity() }}</span>
        <button mat-stroked-button (click)="increment()">+</button>
      </div>
      <div class="toast" *ngIf="showNotification()">
        ✅ Product added to cart!
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<a mat-flat-button [routerLink]="['/products']" class="card__back">Back</a>
