.card-wrapper {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;

  .symbol {
    color: #888;
    font-size: 0.8em;
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4caf50; // Зелений колір грошей
    margin: 0;
  }
}
