<header class="header" [class.menu-open]="isOpen">
  <div class="header__container">
    <a href="#" class="header__logo">Store</a>

    <nav class="header__menu menu-header">
      <button class="menu-header__icon" (click)="toggleMenu()">
        <span></span>
      </button>
      <div class="menu-header__body">
        <ul class="menu-header__list">
          <li class="menu-header__item">
            <a href="#" class="menu-header__link">Головна</a>
          </li>
          <li class="menu-header__item">
            <a href="#" class="menu-header__link">Каталог</a>
          </li>
          <li class="menu-header__item">
            <a href="#" class="menu-header__link">Про нас</a>
          </li>
          <li class="menu-header__item">
            <a href="#" class="menu-header__link">Контакти</a>
          </li>
        </ul>
      </div>
    </nav>
    <a href="#" class="header__cart cart-header" (click)="onToggleCart()">
      <div class="cart-header__icon">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <path
            fill="currentColor"
            d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"
          />
        </svg>

        @if (totalItems > 0) {
          <span class="cart-header__badge">{{ totalItems }}</span>
        }
      </div>
      <span class="cart-header__text">Кошик</span>
    </a>
  </div>
</header>
