<div class="container">
  <h2>My To-Do List</h2>

  <div class="input-group">
    <input type="text" [(ngModel)]="task" placeholder="Що плануємо зробити?" />
    <button class="btn-add" (click)="addTask()">Add</button>
  </div>

  <ul class="list-tasks">
    @for (item of tasks; track item.id) {
      <li class="task-item">
        <app-to-do-item
          [toDoItem]="item"
          (delBtn)="delTask($event)"
          (togChk)="toggleIsDone($event)"
        ></app-to-do-item>
      </li>
    }
  </ul>
</div>
