<div class="container">
  <h2>My To-Do List</h2>

  <div class="input-group">
    <input type="text" [(ngModel)]="task" placeholder="Що плануємо зробити?" />
    <button class="btn-add" (click)="addTask()">Add</button>
  </div>

  <ul class="list-tasks">
    @for (item of tasks; track item.id) {
      <li class="task-item">
        <input type="checkbox" (change)="toggleIsDone(item.id)" />

        <app-to-do-item [toDoItem]="item"></app-to-do-item>
        <button class="btn-delete" (click)="delTask(item.id)">Delete</button>
      </li>
    }
  </ul>
</div>
